* {
  margin: auto;
}

main {
  padding: 1rem;
}

header {
  background-color: #404040;
  padding: 1rem;
}
header a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

#img1 {
  width: 350px;
  height: 380px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px solid black;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 400px;
}

.product-info {
  padding: 2rem;
  line-height: 1.8rem;
  
}
